body {
    background-color: rgb(90, 133, 133) !important;
    padding: 20px;
    margin: 0;
  }

.basket-item{
    border: 1px solid;
    border-collapse: separate;
    max-width: 18rem;
    margin: 0 auto; 
    float: none; 
    margin-bottom: 10px;
    height: 100px;
}

h1, h2, p, ul, li {
  font-family: sans-serif;
}
ul.nav-header li {
  display: inline;
  list-style-type: none;
  margin: 0;
}
ul.nav-header {
  background-color: #111;
  padding: 0;
}
ul.nav-header li a {
  color: #FFF;
  font-weight: bold;
  text-decoration: none;
  padding: 20px;
  display: inline-block;
}
.active {
  background-color: #0099FF;
}
.list-style ul {
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}

ul.products li, ul.basket li{
  list-style: none;
  margin: 7px 0;
  padding: 10px;
  text-align: left;
}
ul.products li:nth-child(odd), ul.basket li:nth-child(odd) {
  background: #f9f9f9;
}
// ul.products li:hover:before {
//   content: "\F0FE";
//   color: green;
// }
// ul.products li:before, ul.products li:hover:before {
//   font-family: FontAwesome;
//   font-size: 1.2em;
//   font-weight: 700;
// }

.fa-plus-circle:hover{
  color: green;
}
.fa-minus-square:hover{
  color: rgb(192, 30, 30);
}
.fa-trash:hover{
  color: rgb(192, 30, 30);
}

.quantity-class{
  color: rgb(231, 46, 0);
  font-weight: bold;
}

.clear-basket{
  float: right;
}

//cart icon with count
.badge {
  padding-left: 9px;
  padding-right: 9px;
  -webkit-border-radius: 9px;
  -moz-border-radius: 9px;
  border-radius: 9px;
}

.label-warning[href],
.badge-warning[href] {
  background-color: #c67605;
}
#lblCartCount {
    font-size: 12px;
    background: #ff0000;
    color: #fff;
    padding: 0 5px;
    vertical-align: top;
    margin-left: -10px; 
}